@import '../vars';

:local {
  .btn {
    position: relative;

    display: block;
    width: 100%;

    box-sizing: border-box;

    font-weight: @font-weight;

    padding-left: @padding-left;
    padding-top: @padding-top;
    padding-bottom: @padding-bottom;
    
    cursor: pointer;
    
    &,
    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: @text-color;
      text-decoration: none;
    }

    &:hover {
      background-color: @hover-bg;
    }
  }
}
