@import '../bity-colors';

.bm-menu-wrap {
  z-index: 20 !important;
}

.bm-menu {
  box-sizing: border-box;
  background: @bity-dark-blue;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bm-overlay {
  z-index: 11 !important; // it should be above the header
}
