@import './bootstrap/styles';

html,
body,
#app {
  height: 100%;
}

:local {
  .app {
    position: relative;

    display: flex;
    width: 100%;
    min-height: 100%;

    flex-direction: column;

    box-sizing: border-box;
    padding-top: 50px; // the height of the fixed header
  }

  .header {
    position: fixed;
    left: 0;
    top: 0;

    display: block;
    width: 100%;

    z-index: 10;
  }

  .content {
    position: relative;
    display: block;
    box-sizing: border-box;

    z-index: 0;

    flex: 1 0 0;
  }
}
